<div class="main">
  <div class="visibility-settings">
    <p class="visibility-settings__title">Columns visibility: </p>
    <div class="visibility-settings__item" *ngFor="let item of ['Country', 'First Name', 'Last Name', 'Gender', 'Age', 'Email']"
    >
      <label [for]="'toggle-hide-' + item">{{ item }}</label>
      <input
        [id]="'toggle-hide-' + item"
        type="checkbox"
        [checked]="!isColHidden(item)"
        (click)="toggleColVisibility(item)"
      >
    </div>
  </div>
  <ejs-treegrid #treegrid [dataSource]='data$ | async'
                childMapping='users' height="85vh"
                [allowResizing]='true' [allowSorting]='true'
                [contextMenuItems]='contextMenuItems'
                [treeColumnIndex]='1'
                [editSettings]='editSettings'
                [allowFiltering]='true'
                [allowRowDragAndDrop]='true'
                [selectionSettings]="selectionSetting"
                [frozenColumns]='frozenColumns'
                (actionComplete)="onActionComplete($event)"
                (contextMenuClick)='contextMenuClick($event)'
                (contextMenuOpen)='contextMenuOpen($event)'
  >
    <e-columns>
      <e-column
        *ngFor="let col of columns; let i = index"
        [field]="col.field"
        [headerText]="col.text"
        width="200"
        [minWidth]="minWidths[i]"
      ></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
