<div class="main" style="background-color: brown">
  <ejs-treegrid #treegrid [dataSource]='data$ | async'
                childMapping='users' height=90vh
                [allowResizing]='true' [allowSorting]='true'
                [contextMenuItems]='contextMenuItems'
                [treeColumnIndex]='1'
                [editSettings]='editSettings'
                [allowFiltering]='true'
                [frozenColumns]='frozenColumns'
                (actionComplete)="onActionComplete($event)"
                (contextMenuClick)='contextMenuClick($event)'
                (contextMenuOpen)='contextMenuOpen($event)'

  >
    <e-columns>
      <e-column field='country' headerText='Country' width=200 [minWidth]="minWidths[0]"></e-column>
      <e-column field='firstName' headerText='First Name' width=200 [minWidth]="minWidths[1]"></e-column>
      <e-column field='lastName' headerText='Last Name' width=200 [minWidth]="minWidths[2]"></e-column>
      <e-column field='gender' headerText='Gender' width=200 [minWidth]="minWidths[3]"></e-column>
      <e-column field='age' headerText='Age' width=100 [minWidth]="minWidths[4]"></e-column>
      <e-column field='email' headerText='Email' width=200 [minWidth]="minWidths[5]"></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
