<div class="main" style="background-color: brown">
  <ejs-treegrid #treegrid [dataSource]='data | async' [treeColumnIndex]='1' childMapping='users' height=93vh
                [allowResizing]='true' [allowSorting]='true'  [contextMenuItems]='contextMenuItems' [treeColumnIndex]='1'
                (contextMenuClick)='contextMenuClick($event)' (contextMenuOpen)='contextMenuOpen($event)'
  >
    <e-columns>

      <e-column field='index' headerText='Id' width=100></e-column>
      <e-column field='country' headerText='Country' width=200></e-column>
      <e-column field='firstName' headerText='First Name' width=200></e-column>
      <e-column field='lastName' headerText='Last Name' width=200></e-column>
      <e-column field='isActive' headerText='Active' width=200></e-column>
      <e-column field='gender' headerText='Gender' width=200></e-column>
      <e-column field='email' headerText='Email' width=200></e-column>
      <e-column field='phone' headerText='Phone' width=200></e-column>
      <e-column field='age' headerText='Age' width=100></e-column>
      <e-column field='company' headerText='Company' width=200></e-column>
      <e-column field='city' headerText='City' width=200></e-column>
      <e-column field='guid' headerText='Guid' width=200></e-column>
      <e-column field='registered' headerText='Registered' width=200></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
