<div class="main">
  <ejs-treegrid [dataSource]='data' [treeColumnIndex]='1' childMapping='subtasks'>
    <e-columns>
      <e-column field='id' headerText='UserId'></e-column>
      <e-column field='first_name' headerText='First Name'></e-column>
      <e-column field='last_name' headerText='Last Name'></e-column>
      <e-column field='gender' headerText='Gender'></e-column>
      <e-column field='email' headerText='Email'></e-column>
      <e-column field='phone' headerText='Phone'></e-column>
      <e-column field='ip_address' headerText='IP address'></e-column>
      <e-column field='country' headerText='Country'></e-column>
      <e-column field='currency' headerText='Currency'></e-column>
      <e-column field='city' headerText='City'></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
